/* Styles for Fibia, the game */

/* general styling */
* {
    margin: 0;
    font-family: 'MedievalSharp', cursive;
}

body {
    height: 100vh;
}

/* Main */
main {
    background-image: url("../assets/background/page-bg.jpeg");
    background-size: cover;
    padding: 4vh 10vw;
    color: #cca06d;
    display: flex;
    align-items: center;
}


#main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    font-size: calc(1.375rem + 1.5vw);
    padding-bottom: 2vh;
}

#status-bar {
    width: 656px;
    height: 4vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-image: url("../assets/background/scroll-paper.jpeg");
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    text-align: center;
}

.status-item {
    width: 100px;
    height: 3.0vh;
    background-color: rgb(71, 71, 71);
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#gold-coin-icon,
#level-up-icon {
    height: 2vh;
}

#reset-btn {
    width: 100px;
    height: 3.5vh;
    color: white;
    background-color: black;
    border: 1px solid #06365f;
    border-radius: 3px;
    box-shadow: 1px 1px 1px #06365f;
}
#reset-btn:hover {
    background-color: #06365f;
    border: 1px solid #1c5380;
    box-shadow: 1px 1px 1px #1c5380;
    transition: all 400ms ease-in-out 0ms;
}


/* Canvas */
canvas {
    border: 4px solid black;
    background-image: url('../assets/background/arena-bg.jpeg');
    background-size: cover;
}


/* aside (instructions tab) */
aside {
    background-image: url("../assets/background/scroll-paper.jpeg");
    background-size: cover;
    background-position: top;
    padding: 2.0rem 1.5rem;
    color: black;
}

h3 {
    margin: 1.0rem 0 0.7rem 0;
    font-size: calc(1.275rem + .3vw);
    text-align: center;
}

li,
p {
    font-size: calc(0.9rem + .1vw);
    line-height: 1.4em;
}

p {
    text-align: center;
    margin-bottom: 1rem;
}

hr {
    margin: 1rem 0;
    color: black;
    background-color: currentColor;
    height: 1px;
    opacity: 0.25;
}


/* Footer */
footer {
    background-image: url("../assets/background/scroll-paper.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left;
    text-align: center;
}

footer a {
    color: black;
}

#copyright-text {
    text-align: center;
    padding: 1.5vh 0;
}